.liList{
  background-color: #FFFFFF;
  margin: 5px;
  padding: 10px;
  width: auto;
  min-height: 35px;
  list-style-type: none;
  border-radius: 3px;
  cursor: pointer;
}
.liList.success{
  background-color: #75f075;
}
.liList.frozen{
  background-color: #b9b9b9;
}
.liList.arrears{
  background-color: #da6665;
}

.liList.active{
  background-color: green;
}

.liList > .dateLeft{
  display: table-cell;
  vertical-align: top;
}

.liList > .dateLeft > div{
  width: 45px;
  height: 45px;
  border-radius: 100%;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
}
.liList > .dateLeft >div.default{
  background-color: #e6e6e6;
}
.liList > .dateLeft >div.arrears{
  background-color: #ff2a1a;
}

.liList > .block{
  display: table-cell;
  width: 50%;
  vertical-align: top;
  padding-left: 5px;
}
.liList > .block .head{
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 18px;
}
.liList > .right{
  display: table-cell;
  width: 50%;
  vertical-align: top;
  text-align: right;
}
